# .gitignore 

#==================================================
# Local file configuration 

# VS Code files 
.vscode/

# Build files 
build/
*.code-workspace

#==================================================


#==================================================
# Configuration 

# System configuration 
headers/core/hardware_config.h
SystemConfig.txt

#==================================================


#==================================================
# Code files 

# M8Q test coordinates - Use-case specific so made as a local file 
sources/test_data/gps_coordinates.cpp 

#==================================================
