# .gitignore 

#========================================================================================
# Local config files 

# VS Code files 
.vscode/

# Workspace 
workspace.code-workspace

#========================================================================================


#========================================================================================
# Hardware files 

# Build files 
build/

# STM files 
startup_stm32f411xe.s
STM32F411RETx_FLASH.ld

#========================================================================================
