# .gitignore 

#========================================================================================
# Local config files 

# VS Code files 
.vscode/

#========================================================================================


#========================================================================================
# Hardware files 

# Build files 
build/

#========================================================================================


#========================================================================================
# Test files 

# M8Q test coordinates - Use-case specific so made as a local file 
sources/test_data/gps_coordinates.cpp 

#========================================================================================
